// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$white: #f7f7f7;
$light-gray: #F4F4F4;
$dark-gray: #545454;
$black: rgba(25, 25, 25, 0.8)
