.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card a {
  font-size: 16px;
  color: $dark-gray;
}

.card-title {
  position: absolute;
  bottom: 5px;

}

.avatar {
  background-image: cover !important;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  padding: 10px;
  top: 10px;
}
